<header role="banner">
  <div class="container">
      <nav class="navbar row">
        <div class="navbar-header column">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <a class="navbar-brand" href="index.html">{{ .Title }}</a>
        </div>

        <div id="navbar" class="column">
          <ul class="nav row">
            <li class="active"><a href="#" data-nav-section="home"><span>{{ with $.Params.navigation.home }}{{ . | markdownify }}{{ end }}</span></a></li>
            
            {{ if $.Params.navigation.work }}
            <li><a href="#" data-nav-section="work"><span>{{ with $.Params.navigation.work }}{{ . | markdownify }}{{ end }}</span></a></li> 
            {{ end }}

            {{ if $.Params.navigation.testimonials }}
            <li><a href="#" data-nav-section="testimonials"><span>{{ with $.Params.navigation.testimonials }}{{ . | markdownify }}{{ end }}</span></a></li> 
            {{ end }}

            {{ if $.Params.navigation.services }}
            <li><a href="#" data-nav-section="services"><span>{{ with $.Params.navigation.services }}{{ . | markdownify }}{{ end }}</span></a></li> 
            {{ end }}

            {{ if $.Params.navigation.about }}
            <li><a href="#" data-nav-section="about"><span>{{ with $.Params.navigation.about }}{{ . | markdownify }}{{ end }}</span></a></li> 
            {{ end }}

            {{ if $.Params.navigation.contact }}
            <li><a href="#" data-nav-section="contact"><span>{{ with $.Params.navigation.contact }}{{ . | markdownify }}{{ end }}</span></a></li> 
            {{ end }}

        </ul>
      </div>
    </nav>
  </div>
</header>